/* .resume__topic--white{
  color: white;
} */
/* .comment--layout {
  background-color: rgb(240, 90, 30);
  border-radius: 10px 10px;
  box-shadow: #2f353a 5px 5px 5px;
} */
/* .addcomment--layout{
  background-color: #0d4883;
  border-radius: 10px 10px;
  box-shadow: #2f353a 5px 5px 5px;
} */

/* .comment__layout--font {
  font-weight: 600;
  color: #2f353a;
  font-size: 1.2rem;
  font-style: italic;
}
.comment__layout--by {
  color: #2f353a;
  font-size: 1rem;
  font-style: italic;
}
.comment__layout{
  background-color: white;
  border-radius: 10px 10px;
  box-shadow: #2f353a 5px 5px 5px;
} */
/* .nocomment--bold{
  font-weight: bold;
  color: white;
} */