input, textarea{
    border: 2px solid #2f353a;
    border-radius: 5px 5px;
    &:focus{
      box-shadow: $colors-secondary 2px 2px 7px 1px;
      border-radius: 5px 5px;
      outline: unset;
    }
}
.btn-orange{
    background-color: $colors-primary;
    border: 2px solid #2f353a;
    color: $colors-text-bg-dark;
    font-size: 1.4rem;
    font-weight: bold;
    &:focus {
      color: $colors-bg-bright-border;
      box-shadow: $colors-bg-bright-border 2px 2px 7px 1px;
    }
}
.btn-border{
    border: 2px solid #2f353a;
    font-size: 1.4rem;
    font-weight: bold;
}

.message__serveur{ /* message au clic bouton */
    @include message__serveur($colors-alert);
    &--blanc{
      @include message__serveur($colors-text-bg-dark);
    }
}